.wrapper {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--accent);
    border-radius: 2rem;
    padding: var(--padding-container);
}

@media (max-width: 888px) {
    .container {
        flex-direction: column;
    }
    .wrapper {
        margin-block: 2rem;
    }
}
